html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slider {
	width: 600px;
	height: 300px;
	overflow: hidden;
}

	.slider .slides {
		/*width: calc(600px * 5);*/
		height: calc(300px * 5);
		transition: all .3s ease-in-out;
	}

		.slider img {
			width: 600px;
			height: 300px;
			float: left;
		}